# CatBoost logs
catboost_info/

# Jupyter/IPython checkpoints (если используешь)
.ipynb_checkpoints/

# VS Code config
.vscode/

# PyCharm config
.idea/

# Compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Models
models/*.pkl

# Matplotlib figures
models/*.png

# Data
data/*.csv

# Logs / artifacts
*.log
*.tsv
*.json
*.out
